* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fefae0;
}

nav {
    background-color: #DDA15E;
    padding: 30px;
    font-family: Poppins, helvetica, serif;
    font-size: 150%;
    font-weight: normal;
    text-align: center;
    color: #283618;
    display: flexbox;
    width: 100%;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px 40px;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    opacity: 0.5;
}

h1 {
    font-family: Poppins, arial, sans-serif;
    font-size: 400%;
    text-align: left;
    padding: 10px;
    color: black;
    margin: 25px;
}

h2 {
    font-family: Poppins, arial, sans-serif;
    font-size: 300%;
    text-align: left;
    padding: 2px;
    color: #283618;
    margin: 32px;
}

h3 {
    font-family: Poppins, arial, sans-serif;
    font-size: 150%;
    text-align: left;
    padding: 15px;
    color: #283618;
    margin: 20px 32px;
    display: inline-block;
}

p, li, ul, ol {
    font-family: Lora, "helvetica", serif;
    text-align: left;
    padding: 10px;
    color: #283618;
    margin: 5px 26px;
}

.container {
    display: block;
    max-width: 1000px;
}

.block {
    background-color: #DDA15E;
    border-radius: 15px;
    margin: 10px 32px;
    width: 400px;
    display: inline-block;
}

.block p {
    margin: 20px 32px;
}

.block h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.box-symbol {
    position: relative;
    top: 3px;
}

.green-text {
    color: #dc7b36c1;
}

table, th, td {
    font-family: Lora, serif;
    border: 2px solid #283618;
    border-collapse: collapse;
    padding: 10px;
}

table {
    display: block;
    border: 0px;
    margin: 10px 30px;
}

th {
    font-weight: bold;
    background-color: #DDA15E;
}

#transparent {
    opacity: 0.5;
}

#code {
    font-family: monospace;
    font-weight: bold;
}

#poppins p,
#poppins h2,
#poppins a {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: inherit;
}

#lora p,
#lora h2,
#lora a {
    font-family: Lora, "serif";
    text-decoration: none;
    color: inherit;
}

#noto-sans p,
#noto-sans h2,
#noto-sans a {
    font-family: "Noto Sans";
    text-decoration: none;
    color: inherit;
}

#noto-serif p,
#noto-serif h2,
#noto-serif a {
    font-family: "Noto Serif";
    text-decoration: none;
    color: inherit;
}

#current-page {
    font-weight: bold;
}

footer {
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: Lora, "helvetica", serif;
    padding: 5px;
    text-align: right;
    line-height: 2.0;
    color: #283618;
    top: 20px;
}

footer a {
    color: #BC6C25;
}

footer a:hover {
    opacity: 0.5;
}

footer a:visited {
    color:#DD5F70;
}